.logo {
  &__main {
    text-decoration: none;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: $action_color;
  }

  &__variable--footer {
    color: #ffffff;
  }
}
